<html>

<body>
    <div class="container-fluid">
        <div id="logo">
            <img align="middle" src="~/Content/images/404.png" height="100%" width="100%" />
        </div>
    </div>
</body>

</html>

