@{
    ViewBag.Title = "Home Page";
}

<html>
<body>
    <div class="container-fluid">
        <h2 class="text-center">Welcome To Student App</h2>
        <br />
        <div id="logo">
            <img style="margin-left:350px" src="~/Content/images/student.png" height=5%" width="35%" />
        </div>
    </div>
</body>

</html>